config.toml
.torrents/
books/
*.torrent
__pycache__/
*.py[cod]
.venv/
.venv
venv/
ENV/
env/
.venv*/
.failed/
.cover_tmp/
*.egg-info/
.DS_Store
.pytest_cache/
.coverage
htmlcov/
.staging/
staging/
.ruff_cache/
.vscode/
.cache/